{% extends 'layouts/app.html.twig' %}

{% block content %}
  <h1 class="mb-4">Modifier la catégorie {{ category.name }}</h1>

  {% include 'app/category/_form.html.twig' with { form: form } %}

{% endblock %}

{% block sidebar %}
  {% include 'app/category/_sidebar.html.twig' %}
{% endblock %}

{% block js %}
  <script src="{{ asset('js/pages/app/category.js') }}"></script>
{% endblock %}