{% extends 'layouts/app.html.twig' %}

{% block content %}
  <h3 class="h5">Mes catégories</h3>
  {% include 'components/_fab.html.twig' with { route: 'app_category_add', label: 'Nouvelle catégorie' } %}

  <div class="row g-4 mt-1">
    {% for category in categories %}
      <div class="col">
        {% include 'app/category/_component.html.twig' with { category: category } %}
      </div>
    {% else %}
      <div class="col">
        <p class="text-muted">Aucune catégorie pour le moment.</p>
      </div>
    {% endfor %}
  </div>
  
{% endblock %}