<div class="alert alert-warning d-flex align-items-center" role="alert">
  <i class="ri-alert-line me-2"></i>
  <div>
    Vous n'avez pas encore défini de secret privé pour votre coffre-fort.<br>
    <a href="{{ path('auth_profile_index', {'t': 'confidential-code-form'}) }}" class="alert-link">Cliquez ici pour le configurer.</a>
  </div>
</div>